.App{
    height: 100vh;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: yellow;
}

.employees{
    display: flex;
    flex-direction: column;
    
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 147, 7);
    
}

.employee{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
}

.add{
    margin: 20px;
    border: none;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton{
    border: none;
    padding: 10px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
